<link rel="stylesheet" href="/public/assets/css/bootstrap.css">
<link rel="stylesheet" href="/public/assets/css/font-awesome.css">
<link rel="stylesheet" href="/public/assets/css/custom.css">
<link rel="stylesheet" href="/public/assets/img/find_user.png">

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>Create Admin </h2>
            <h5>Welcome to my web, Love to see you back! </h5>

        </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <div class="row">
        <div class="col-md-12">
            <!-- Form Elements -->
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="reg-form">
                        <div class="container">
                            <div class="reg">
                                <h3>Update Account</h3>
                                <p style="margin-top: -20px">Welcome, please enter the following details to continue.</p>
                                <form action="/update/{{admin.id}}" method="POST" autocomplete="off">
                                    <input type="hidden" name="id" value="{{admin.id}}">
                                    <form>

                                        <div class="form-group">
                                            <label> Full name </label>
                                            <input type="text" class="form-control" placeholder="Fullname" name="fullname" value="{{admin.fullname}}" >
                                        </div>

                                        <div class="form-group">
                                            <label> Username </label>
                                            <input type="text" class="form-control" placeholder="Username" name="username" value="{{admin.username}}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label> Password </label>
                                            <input type="text" class="form-control" placeholder="Password" name="password" value="{{admin.password}}">
                                        </div>

                                        <div class="form-group">
                                            <label> Email </label>
                                            <input type="text" class="form-control" placeholder="Email" name="email" value="{{admin.email}}">
                                        </div>
                                        <input type="submit" class="btn-success" value="Submit">

                                    </form>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>
<!-- /. ROW  -->
</div>
</div>
</div>
